<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
</body>
</html>
