<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="headerPageScripts.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="headerStyles.css" />
		<title>Example Avaloq Page with Header</title>
	</head>
	<body>
		<header>
			<a href="index.html"><img id="avaloqlogo" src="avaloqlogo.png"></img></a>
			<a href="index.html"><img id="avaloqicon" src="logoicon.ico"></img></a>
			<form id="searchboxform" autocomplete="off">
  				<input id="searchboxtext" type="text" name="search" placeholder="Type in your Avaloq search..">
				<input type="submit" id="submitbuttonsearch" value="">
			</form>
		</header>
	</body>
</html>