body {
	margin: 0px;
	height: 1500px;
	width: 100%;
}

header {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 105px;
	background: #1F559F;
	transition: all 0.4s ease;
}

header.sticky {
	position: fixed;
	z-index: 10;
	height: 48px;
	width: 100%;
	background: #efc47D;
	padding-left: 20px;
}

hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

label {
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 0px;
}

input[type='radio'] {
	margin-left: 8px;
	margin-right: 2px;
}

p {
	margin: 0px;
}

a.ui-all {
	cursor: pointer;
}

.ui-accordion-header-active {
	background-color: #1F559F;
}

.ui-accordion-content-active {
	margin-bottom: 1px;
}

.ui-accordion .ui-accordion-header {
	margin-top: 0px;
	border-top-color: #efc47D;
	border-top-width: 4px;
}

.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
    padding-left: 0px;
}

.col50percent {
    width: 50%;
    float: left;
    margin-right: 0px;
}

.resultdiv {
	position: relative;
	float: left;
	width: 100%;
	height: 180px;
    border-top: unset;
    border-right: thick solid;
	border-left: thick solid;
    border-color: #1F559F;
	transition: all 0.4s ease;
}

.resultdiv p {
    font-size: 13px;
}

.resultcheckboxspan {
	position: absolute;
	float: left;
	top: 70px;
	left: 15px;
}

.resultcheckbox {
	height: 20px;
	width: 20px;
}

.resultdivtitle {
	margin-left: 60px;
	font-weight: 900;
	font-size: 30px;
	width: 70%;
}

.dateadded {
	float: left;
	margin-left: 60px;
}

.searchstats, .spaces, .metadata {
	float: left;
}

.text-muted {
	font-size: 12px;
}

.previewbutton {
	position: absolute;
	padding: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	right: 102px;
	bottom: 12px;
	height: 45px;
	width: 45px;
}

.previewicon {
	margin-top: 1px;
	height: 40px;
	width: 40px;
}

.downloadbutton {
	position: absolute;
	padding: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	right: 56px;
	bottom: 12px;
	height: 45px;
	width: 45px;
}

.downloadicon {
	height: 30px;
	width: 30px;
}

.linkbutton {
	position: absolute;
	padding: 0px 0px 0px 0px;
	border: 0px 0px 0px 0px;
	right: 10px;
	bottom: 12px;
	height: 45px;
	width: 45px;	
}

.linkicon {
	height: 30px;
	width: 30px;
}

.packagedownload {
    margin-top: 2px;
	height: 50px;
	width: 50px;
	background-color: #ffffff;
    background-repeat: no-repeat;
	border-radius: 20px;
	cursor: pointer;	
}

.packagedownload:hover {
	background-color: #1F559F;	
	color: white;
}

.packagedownload:active {
	box-shadow: inset 0px 2px 2px #000000;
	transition: all 0.1s ease;	
}

.resultsseparator {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #1F559F;
    background: linear-gradient(to right, #CCC, #1F559F, #CCC);
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#CCC), to(#CCC), color-stop(50%, #1F559F));
}

li.ui-menu-item:before {
	content: "•";
	padding-right: 5px;
	cursor: pointer;
}

li.ui-menu-item:hover:before {
	content: "×";
	font-size: 12px;
	color: rgba(255,0,0,0.7);
	padding-right: 3.8px;
}

ul.packageContents {
    width: 95%;
    margin-bottom:20px;
    overflow:hidden;
    border-top:1px solid #ccc;
}

li.packageContent {
    line-height:1.5em;
    border-bottom:1px solid #ccc;
    float:left;
    display:inline;
}

.tripleColUl li  { 
    width:33.333%; 
}

.packagetext {
	float: left;
}

.collapsebutton {
    width: 100%;
    height: 30px;
    background-color: #1F559F;
    border-radius: 25px;
    color: white;
}

.collapsebutton.clicked {
    background-color: #efc47D;
    color: black;
    font-weight: bold;
}

.collapse {
    width: 100%;
    height: auto;
    max-height: 110px;
    overflow: auto;
}

.pagination {
	margin-top: 0px; 
	float: left;
}

.clearfix {
	position: relative;
}

.notifyjs-resetConfirm-base .no {
	position: absolute;
	top: 25px;
	right: 65px;
}

.notifyjs-resetConfirm-base .yes {
	position: absolute;
	top: 25px;
    right: 2px;
}

.notifyjs-resetConfirm-base {
    height: 65px;
    width: 200px;
    background: #F5F5F5;
    padding: 5px;
    border-radius: 10px;
}

.notifyjs-resetConfirm-base .title {
	position: absolute;
    top: 1px;
    width: 90px;
    float: left;
    margin: 0px 0 0 4px;
    text-align: center;
}

.notifyjs-resetConfirm-base .buttons {
    width: 70px;
    font-size: 9px;
    padding: 5px;
    margin: 2px;
}

.notifyjs-resetConfirm-base button {
    font-size: 9px;
    padding: 5px;
    margin: 2px;
    width: 60px;
}

#avaloqLogo {
	display: block;
	float: left;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 105px;
	width: 300px;
}

#avaloqIcon {
	display: none;
	float: left;
	margin-top: 14px;
	height: 20px;
	width: 20px;
}

#searchDiv {
	position: fixed;
	top: 37.5px;
	left: 300px;
	width: 440px;
	transition: all 0.4s ease;
}

#searchDiv.sticky {
	top: 9px;
}

#mainSearchBox {
	position: relative;
	float: left;
	height: 30px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-image: url('../Icons/searchicon.ico');
	background-size: 20px 20px;
    background-position: 5px 3px; 
    background-repeat: no-repeat;
    padding: 4px 0px 0px 40px;
	-webkit-padding-before: 12px;
    -webkit-padding-after: 12px;
    transition: width 0.4s ease-in-out;
}

#mainSearchBox:focus {
	width: 400px;
}

#mainSubmitButton {
	position: relative;
	height: 30px;
	width: 30px;
	background-image: url('../Icons/submiticon.ico');
	background-position: 3px 1px; 
	background-repeat: no-repeat;
	background-color: #ffffff;
	border-radius: 15px;
	cursor: pointer;
}

#sidebar-left {
	position: relative;
    float:left;
	top: 105px;
    width: 20.834%;
}

#sidebar-left.sticky {
    position: absolute;
    left: 0px;
}

#formContain {
	float: left;
	position: relative;
    color: #1F559F;
	width: 100%;
	max-height: 65vh;
	overflow: auto;
}

#titleCheckbox {
    margin-left: 14px;
}

#titleOnly, #desc {
    font-weight: bold;
    margin-left: 1px;
}

#descCheckbox {
    margin-left: 140px;
}


#formButtonsDiv {
	position: relative;
	float: left;
	margin-top: 2%;
	width: 300px;
    color: black;
}

#resetButtonDiv {
	float: left;
	margin-left: 40%;
}

#updateButton {
	background-image: url('../Icons/updateicon.png');
	background-size: 25px 25px;
    background-position:5px 8px;
	background-color: dodgerblue;
}

#updateButton:hover {
	width: 100px;
	background-position: 65px 8px;
	padding-left: 7px;
	font-size: 17px;
	font-weight: 600;
	text-align: left;
	background-color: powderblue;
	transition: all 0.2s ease;
}

#updateButton, #resetButton { 
	width: 38px;
	height: 45px;
	background-repeat: no-repeat;
	border-radius: 15px;
	cursor: pointer;
	transition: all 0.2s ease;
}

#resetButton {
	background-image: url('../Icons/reseticon.png');
	background-size: 25px 25px;
	background-position: 6px 8px;
	background-color: #FF0000;
}

#resetButton:hover {
	width: 100px;
	background-position: 65px 8px;
	padding-left: 12px;
	font-size: 17px;
	font-weight: 600;
	text-align: left;
	background-color: #FF661A;
	transition: width 0.2s ease;
}

#results {
	position: relative;
	top: 105px;
    float: left;
    width: 58.3336%;
}

#results.sticky {
	position: absolute;
	top: 48px;
}

#resultsInfo {
	position: relative;
	float:left;
	width: 100%;
	height: 100px;
	border-right: thick solid;
	border-left: thick solid;
    border-bottom: thick dashed;
	border-color: #1F559F;
	transition: all 0.4s ease;
}

#descCheckbox {
    display: inline;
}

#desc {
	margin-top: 0px;
}

#infoDiv {
	position: absolute;
	margin-left: 1%;
	bottom: 0px;
	float: left;
}

#resPageDiv {
	position: absolute;
	bottom: 40px;
	right: 5px;
}

#resPrev, #resNext {
	position: absolute;
	bottom: 2px;
	height: 35px;
	width: 80px;
	background-color: #ffffff;
	border-radius: 15px;
	cursor: pointer;
}

#resPrev, #resPrevBottom {
	right: 90px;
}

#resNext, #resNextBottom {
	right: 5px;
}

#resPrev:hover, #resNext:hover, #resPrevBottom:hover, #resNextBottom:hover {
	color: white;
	background-color: #1F559F;
}

#resPrev:active, #resNext:active, #resPrevBottom:active, #resNextBottom:active {
	box-shadow: inset 0px 2px 2px #000000;
	transition: all 0.1s ease;
}

#resultsInfoBottom {
	position: relative;
	float:left;
	width: 100%;
	height: 100px;
    border-top: thick dashed;
	border-right: thick solid;
	border-left: thick solid;
   	border-bottom: thick solid;
	border-color: #1F559F;
	transition: all 0.4s ease;
}

#infoDivBottom {
	position: absolute;
	margin-left: 1%;
	top: 0px;
	float: left;
}


#resPageDivBottom {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

#resPrevBottom, #resNextBottom {
	position: absolute;
	top: 2px;
	height: 35px;
	width: 80px;
	background-color: #ffffff;
	border-radius: 15px;
	cursor: pointer;
}

#sidebar-right {
    position: relative;
    float: left;
	top: 105px;
    width: 20.834%;
}

#sidebar-right.sticky {
    position: absolute;
	top: 48px;
}

#packageDiv {
    padding-top: 2px;
}

#onHoverPackageSidebarDiv {
    position: relative;
    float: left;
    height: 28px;
    width: 180px;
}

#packageSearchBox {
    float: left;
	height: 28px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-top: 1px;
    padding: 4px 20px 0px 5px;
	-webkit-padding-before: 12px;
    -webkit-padding-after: 12px;
}

#removePackage {
    display: none;
    cursor: pointer;
    position: absolute;
    float: right;
    top: 5px;
    right: -10px;
}

#packageSelect {
	height: 25px;
	width: 25px;
    background-image: url('../Icons/searchicon.ico');
	background-size: 16px 16px;
	background-color: #ffffff;
    background-position: 5px 3px; 
    background-repeat: no-repeat;
	border-radius: 15px;
    margin-top: 1px;
    margin-left: 22px;
    font-size: 10px;
	cursor: pointer;	
}

#packageSelect:hover {
	background-color: #1F559F;	
	color: white;
}

#packageSelect:active {
	box-shadow: inset 0px 2px 2px #000000;
	transition: all 0.1s ease;	
}

#packageModalSearchBox {
	float: right;
	height: 24px;
    width: 180px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-image: url('../Icons/searchicon.ico');
	background-size: 16px 16px;
    background-position: 5px 3px; 
    background-repeat: no-repeat;
    padding: 4px 20px 0px 23px;
	-webkit-padding-before: 12px;
    -webkit-padding-after: 12px;
}

#packageUl {
	list-style: none;
}

#addToPackageButton {
    margin-top: 5px;
    margin-left: 15%;
    background-image: url('../Icons/addtopackageicon.png');
    background-size: 35px 35px;
    background-position: 8px 5px; 
}

#downloadPackageButton {
    background-image: url('../Icons/downloadpackageicon.png');
    background-size: 30px 30px;
    background-position: 9px 7px; 
}

#createNewPackageButton {
    background-image: url('../Icons/newpackageicon.png');
    background-size: 35px 35px;
    background-position: 9px 7px; 
}

#newPackageNameBox {
	height: 30px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 0px 20px 0px 10px;
	-webkit-padding-before: 12px;
    -webkit-padding-after: 12px;
}

@-moz-document url-prefix() {
    #mainSearchBox {
        padding: 4px 20px 6px 40px;
    }

    #packageSearchBox {
        padding: 4px 20px 6px 5px;
    }
}
