body {
	background-color: #1F559F;
	transition: all 0.3s ease;
}

input, select {
	color: black;
}

label, p {
	margin-bottom: 0px;
}

.adv-s-hide {
	display: none;
}

.w90 {
	width: 90%;
}

.col-md-4, .col-md-5, .col-md-6, .col-lg-4, .col-lg-5, .col-lg-6 {
	padding-left: 0px;
}

.m-top-20 {
	margin-top: 10px;
}

.glyphicon-repeat {
	margin-top: 5px;
	font-size: 20px;
	transform: scaleX(-1);
}

.footer {
    height: 15%;
    width: 20%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    right: 0pt;
}   

.footer_contents {
    height:24px; 
    margin: auto;
}

#avaloqlogo {
	margin-left: 25%;
}

#searchbox {
	margin-top: 10%;
}

#searchboxtext {
	margin-left: 44%;
	width: 300px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('searchicon.ico');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	transition: width 0.4s ease-in-out;
	transition: margin-left 0.2s ease-in-out;
}

#searchboxtext:focus {
	width: 60%;
	margin-left: 20%;
}

#submitbutton {
	margin-left: 2px;
	-webkit-padding-before: 25px;
	-webkit-padding-end: 20px;
	-webkit-padding-start: 12px;
	-webkit-padding-after: 15px;
	width: 38px;
	height: 45px;
	background-image: url('submiticon.ico');
	background-position: 6px 8px;
	background-repeat: no-repeat;
	background-color: #ffffff;
	border-radius: 15px;
	cursor: pointer;
}

#submitbutton:hover, #backtosimple:hover {
	background-color: #1F559F;
}

#submitbutton:active, #advancedsearchbutton:active, #backtosimple:active, #submit-adv-b:active {
	box-shadow: inset 0px 2px 2px #000000;
	transition: all 0.1s ease;
}

#advancedsearchbutton {
	margin-top: 10px;
	margin-left: 55%;
	height: 35px;
	background-color: #ffffff;
	border-radius: 15px;
	cursor: pointer;
}

#advancedsearchbutton:hover {
	color: white;
	background-color: #1F559F;
}

#advanced-container {
	display: none;
	float: left;
	margin-top: 1%;
	margin-left: 32%;
	width: 30%;
}

#advancedsearchform {
	width: 100%;
	color: #1F559F;
	border-radius: 7px;
	padding: 5px 5px 5px 5px;
}

#backtosimple {
	float: left;
	margin-top: 1%;
	margin-left: 2px;
	-webkit-padding-before: 25px;
	-webkit-padding-end: 20px;
	-webkit-padding-start: 12px;
	-webkit-padding-after: 15px;
	width: 38px;
	height: 45px;
	background-image: url('downicon.ico');
	background-position: 1px 6px;
	background-repeat: no-repeat;
	background-color: #ffffff;
	border-radius: 15px;
	cursor: pointer;
}


#titleonly {
	position: relative;
	left: 80%;
}

#desc {
	position: relative;
	left: 82%;
}

#dots {
	float: right;
	margin-bottom: 0px;
}

#languagemultiple {
	width: 100%;
}

#pad-l-5 {
	padding-left: 5px;
}

#submit-reset {
	float: left;
	margin-top: 25%;
	width: 40px;
}

#submit-adv-b {
	background-image: url('submiticon.ico');
	background-color: green;
}

#reset-adv-b {
	background-color: #FF0000;
}

#submit-adv-b, #reset-adv-b { 
	margin-top: 1%;
	margin-left: 2px;
	width: 38px;
	height: 45px;
	background-position: 6px 8px;
	background-repeat: no-repeat;
	border-radius: 15px;
	cursor: pointer;
}

#submit-adv-b:hover {
	background-color: greenyellow;
}

#reset-adv-b:hover {
	background-color: #FF661A;
}

#avaloqinverted {
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 10px;
	right: 25px;
}