body {
    background-color: #1F559F;
}

#avaloqlogo {
	margin-left: 25%;
}

#searchbox {
	margin-top: 10%;
}

#searchboxtext {
    margin-left: 44%;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.ico');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    transition: margin-left 0.2s ease-in-out;
}

#searchboxtext:focus {
	width: 60%;
	margin-left: 20%;
}

#submitbutton {
  margin-left: 2px;
  -webkit-padding-before: 25px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 12px;
  -webkit-padding-after: 15px;  
  width: 38px;
  height: 45px;
  background-image: url('submiticon.ico');
  background-position: 6px 8px; 
  background-repeat: no-repeat;
  background-color: #ffffff;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}

#submitbutton:hover {
  background-color: #1F559F;
}

#submitbutton:active {
  box-shadow: inset 0px 2px 2px #000000;
  transition: all 0.1s ease;
}

#advancedsearchbutton {
  margin-top: 10px;
  margin-left: 55%;
  height: 35px;
  background-color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
}

#advancedsearchbutton:hover {
  color: white;
  background-color: #1F559F;
}

#advancedsearchbutton:active {
  box-shadow: inset 0px 2px 2px #000000;
  transition: all 0.1s ease;
}
